---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"created_at":"2019-06-06T22:12:54Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","hostname":"integ-test.go-fastly.com","address":"integ-test.go-fastly.com","port":"1234","public_key":null,"deleted_at":null,"version":"68","updated_at":"2019-06-06T22:12:54Z","format_version":"2","name":"test-papertrail","placement":"waf_debug","format":"format","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
